<div class="container w-50 text-center">
    <h3>Add Product</h3>
<form  [formGroup]="addProductForm" action="">
    <input formControlName="id" id="pid" name="p1" class="form-control mt-2 p-2" placeholder="product id" type="text">
    <input formControlName="productName" id="pname" name="p2" class="form-control mt-2 p-2" placeholder="product name" type="text">
    <input formControlName="categoryId" id="cid" name="p3" class="form-control mt-2 p-2" placeholder="category id" type="text">
    <input formControlName="description" id="did" name="p4" class="form-control mt-2 p-2" placeholder="discription id" type="text">
    <input formControlName="price" id="priceid" name="p5" class="form-control mt-2 p-2" placeholder="price id" type="text">

    <input formControlName="is_available" id="avid" name="p6" class="form-control mt-2 p-2" placeholder="is available true/false" type="text">
    <input formControlName="productImg" id="imid" name="p7" class="form-control mt-2 p-2" placeholder="product image" type="text">
    <input formControlName="rating" id="ratid" name="p8" class="form-control mt-2 p-2" placeholder="product rating" type="text">
    <input formControlName="review" id="reid" name="p9" class="form-control mt-2 p-2" placeholder="product review" type="text">
    <input formControlName="vendor_name" id="venid" name="p10" class="form-control mt-2 p-2" placeholder="vendor nav iten " type="text">
    <input formControlName="warranty" id="warid" name="p11" class="form-control mt-2 p-2" placeholder="warrenty" type="text">
    <button  (click)="addProduct()" class="btn btn-success  mt-2 p-2">Add Product</button>
</form>
</div>