<style> @import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Noto+Serif+Gujarati:wght@500;900&family=Roboto+Condensed&family=Sofia+Sans:wght@100;400&display=swap'); </style>

<body>
    <section id="header">
        <a href="#"><img src="https://i.postimg.cc/dVDV6K8K/pb-low-resolution-logo-color-on-transparent-background-1.png" id="logo" alt=""></a>
        <div>
            <div class="boxContainer">
                <table class="elementsContainer">
                    <tr>
                        <td>
                            <input type="text" placeholder="Search" class="search">
                            <button type="button" class="btn btn-dark">Go</button>
                        </td>
                        <td>
                            <a href="#"><i class="material-icons"></i> </a>
                        </td>
                    </tr>
                </table>
            </div>
            <ul id="navebar">
                
                <!-- <li><a href="">Shop</a></li> -->
                <li><a href="product/add-product">Add Product</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <!-- <li><a href=""><i class="fa-regular fa-cart-shopping"></i></a></li> -->
            </ul>
        </div>
    </section>
</body>