<div class="container">
    <div class="container d-flex">
        <div class="p-2 ms-3 me-3 col-3">
            <a (click)="filter('')">
            <img src="" alt="">
            <h6>All product</h6>
        </a>
        </div>
        <div class="p-2 ms-3 me-3 col-3">
            <a (click)="filter('2')">
            <img src="" alt="">
            <h6>fasion</h6>
        </a>
        </div>
       
        <div class="p-2 ms-3 me-3 col-3">
            <a (click)="filter('4')">
            <img src="" alt="">
            <h6>electronics</h6>
        </a>
        </div>
        <div class="p-2 ms-3 me-3 col-3">
            <a (click)="filter('3')">
            <img src="" alt="">
            <h6>jewellery</h6>
        </a>
        </div>
    </div>
</div>



<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div *ngFor="let i of filterproducts" class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img style="height:300px" class="card-img-top" src="{{i.productImg}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{i.productName}}</h5>
                            <p>{{i.description}}</p>
                            <!-- Product price-->
                            {{i.price}} Rs
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                href="product/view-product/{{i.id}}">View options</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>